*{
    margin: 0;
    border: 0;
}
body{
    background-color: #649623;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main_container
{
    width: 48vw;
    margin: 10px auto;
}
.header_div
{
    background-color: #99cc00;
}
.form_body
{
    background-color: #fff;
}
.form_body form
{
    margin: 0 10px;
    padding: 10px 10px;
}
.form_header
{
    margin: 0 10px;
    padding: 20px 10px;
    border-bottom: 1px solid #dadada;
}
.form_header p{
    font-size: 25px;
}
.form_header span{
    color: #444;
    font-size: 14px;
}
.form_element_heading
{
    color: #444;
    font-weight: bold;
}
.form_element_heading span
{
    color: rgb(245, 63, 63);
}
.form_element
{
    width: 70%;
    margin: 10px 0;
}
.form_element select
{
    border: 1px solid #777;
    width: 50%;
}
.date_select input,.portfolio_link input
{
    border: 1px solid #777;
    width: 50%;
}
.salary_dollars
{
    width: 40%;
}
.salary_cents
{
    width: 20%;
}
.salary div
{
    width: fit-content;
}
